.new-york-small {
  font-size: 14px;

  & strong {
    font-weight: 600;
  }

  & pre:has(.hljs) {
    background-color: #1e1e1e !important;
  }

  & a {
    text-decoration: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    transition: all 0.2s ease-in-out;
    padding-bottom: 1px;
  }
  & a:hover {
    border-bottom-color: rgba(128, 128, 128, 0.8);
    text-decoration: none;
  }

  & p {
    margin-top: 0.5rem;
    margin-bottom: 0rem;
  }

  & ul {
    margin-left: 0.3rem;
    padding: 0.2rem 0;
    list-style-type: disc;
  }

  & ul > li {
    margin-left: 0.7rem;
    padding: 0.2rem 0;
  }

  & ol {
    margin-left: 0.3rem;
    padding: 0.2rem 0;
    list-style-type: decimal;
  }

  & ol > li {
    margin-left: 0.7rem;
    padding: 0.2rem 0;
  }

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    padding-top: 0.1rem;
  }

  & h1 {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }

  & h2 {
    font-size: 1.05rem;
    line-height: 1.3rem;
  }

  & h3 {
    font-size: 1rem;
    line-height: 1.2rem;
  }

  & h4 {
    font-size: 15px;
    line-height: 1.2rem;
  }

  & pre {
    max-width: 100%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
